#about {
 background-color: #113B60;
 font-family: "Roboto Condensed", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 min-height: 100vh;
 margin: 0;
 padding: 20px;
 box-sizing: border-box;
}

#about h1 {
 font-size: calc(4vw + 40px);
 margin-bottom: 20px;
 font-weight: 500;
 text-align: left;
}

#about .white {
 color: white;
}

#about .blue {
 background: linear-gradient(to right, #52BDE9 0%, #0E83D7 52%, #036CAD 99%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#about article {
 width: calc(98% - 600px);
 font-size: calc(1vw + 16px);
 color: white;
 padding: 20px;
 background-color: transparent;
 border-radius: 10px;
 box-sizing: border-box;
 margin-bottom: 20px;
}

#about main {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 width: 100%;
}

#about aside {
 width: 600px;
 margin-bottom: 20px;
}

#about aside img {
 max-width: 130%;
 height: auto;
 display: block;
 margin-top: -20px;
}

/* Медиа-запросы для разных размеров экранов */
@media (max-width: 768px) {
 #about h1 {
  font-size: calc(6vw + 20px);
 }
 #about article {
  width: calc(70% - 400px); /* Уменьшение ширины article на маленьких экранах */
 }
 #about aside {
  width: 400px; /* Уменьшение ширины aside на маленьких экранах */
 }
 #about main {
  flex-direction: column;
  align-items: flex-start;
 }
}
