html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#organizers {
    width: 100%;
    background-color: #113B60;
    font-family: 'Roboto Condensed', sans-serif; /* Add font to the body */
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    overflow-x: hidden;
    align-items: center;
}

#navbar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    opacity: 0px;
    width: 100%; /* Make the header span the entire width */
    height: 12%;
    color: #ECF7FD;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Make the footer span the entire width */
    color: #ECF7FD;

    margin: 30px 0px;
}

.logo svg,
.logo img { /* Apply styling to both SVG and image logos */
    max-width: 100%;
    gap: 0px;
    opacity: 0px;
    margin-left: 3%;
    display: flex;
}

.underline_head {
    height: 3px;
    gap: 0px;
    opacity: 0px;
    margin-left: -2px;
}

.nav_head a {
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ECF7FD; /* Set link color */
    text-decoration: none; /* Убрать подчеркивание */
} 

.nav_foot a {
    font-family: 'Roboto Condensed', sans-serif; /* Add font to the body */
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ECF7FD; /* Set link color */
    text-decoration: none; /* Убрать подчеркивание */
}

.nav_head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 60px;
    gap: 25px;
    opacity: 0px;
    /* Remove unnecessary width and height styles */
}

.sub_foot {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    /* Remove unnecessary width, height, and padding styles */
}

.info_foot {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    gap: 40px;
    opacity: 0px;
    /* Remove unnecessary width and height styles */
}

.logo_foot svg,
.logo_foot img {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    display: flex;
}

.nav_foot {
    display: flex;
    gap: 34px;
    opacity: 0px;
    /* Remove unnecessary width and height styles */
}

.social-links {
    display: flex;
    gap: 31.82px;
    opacity: 0px;
    /* Remove unnecessary width and height styles */
}

.copyright {
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 50%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* Remove unnecessary width, height, and padding styles */
}

.partners,
.orgs {
    margin-top: 20vh;
    width: 70%;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin-left: 15%;
}

.partners-title,
.orgs-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 150px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
    color: #ECF7FD;
}

.partner-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.partner-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ECF7FD;
}

.orgs-text {
    max-width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ECF7FD;
}

.carousel {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
    width: 500px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
  }
  
  .carousel-inner {
    display: flex; /* Arrange images horizontally */
  }
  
  .carousel img {
    width: 200px; /* Adjust image width as needed */
    height: auto;  /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between images */
  }


.partner-text span {
    font-family: Roboto Condensed;
    font-size: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #52BDE9;
}

.partner-logo {
    transform: scale(50%, 50%);
    width: 30%;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
