@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');

#theme {
  background-color: #113B60;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 84vh;
  padding: 10px;
  box-sizing: border-box; 
}

#theme .header-text {
  font-size: calc(3vw + 30px); 
  margin-bottom: 20px;
  font-weight: 500;
  text-align: right;
  margin-right: 10px;
}

#theme .white {
  color: white;
}

#theme .blue {
  background: linear-gradient(to right, #52BDE9 0%, #0E83D7 52%, #036CAD 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#theme main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#theme article {
  width: calc(68% - 20px); 
  font-size: calc(1vw + 16px);
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: right; 
  margin-right: 10px; 
}

#theme aside {
    width: calc(50% - 20px);
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px; 
    margin-top: 0;
}
  
#theme aside img {
  max-width: 100%;
  height: auto;
  transform: scale(0.99);
  margin-top: -80px;
}

  
#theme .more-button {
  background: linear-gradient(to right, #52BDE9 0%, #0E83D7 52%, #036CAD 99%);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 33px;
  cursor: pointer;
  font-size: calc(1vw + 18px);
  font-family: inherit;
  margin-top: 20px;
  text-align: center;
  -webkit-transition: background 0.7s ease-out;  
  -moz-transition: background 0.7s ease-out;  
  -o-transition: background 0.7s ease-out;  
  transition: background 0.7s ease-out;  
}
  
#theme .more-button:hover {
  background-position: -17.8vw;
}
  
  /* Медиа-запросы */
@media (max-width: 768px) {
  #theme main {
    flex-direction: column; /* На узких экранах элементы друг под другом */
    align-items: center;
    text-align: center; /* Центрируем текст на маленьких экранах */
  }
  #theme article, #theme aside {
    width: 90%;
    margin: 0 auto 20px auto; /* Автоматические отступы */
  }
  #theme .header-text {
    font-size: calc(10vw + 20px);
  }
}
