@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');

body {
  background-color: #113B60;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box; 
}

h1.header-text {
  font-size: calc(3vw + 30px); 
  margin-bottom: 20px;
  font-weight: 500;
  text-align: right;
  margin-right: 10px;
}

.white {
  color: white;
}

.blue {
  background: linear-gradient(to right, #52BDE9 0%, #0E83D7 52%, #036CAD 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
   }

article {
  width: calc(68% - 20px); 
  font-size: calc(1vw + 16px);
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: right; 
  margin-right: 10px; 
}

aside {
    width: calc(50% - 20px);
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 10px; 
    margin-top: 0;
  }
  
  aside img {
    max-width: 100%;
    height: auto;
    transform: scale(0.99);
    margin-top: -80px;
  }

  
  .more-button {
    background: linear-gradient(to right, #52BDE9 0%, #0E83D7 52%, #036CAD 99%);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 33px;
    cursor: pointer;
    font-size: calc(1vw + 18px);
    font-family: inherit;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease; /* Плавный переход цвета при наведении курсора*/
  }
  
  .more-button:hover {
    background: linear-gradient(to right, #0E83D7 0%, #036CAD 52%, #52BDE9 99%); /* Градиент при наведении */
  }
  
  /* Медиа-запросы */
  @media (max-width: 768px) {
    main {
      flex-direction: column; /* На узких экранах элементы друг под другом */
      align-items: center;
      text-align: center; /* Центрируем текст на маленьких экранах */
    }
    article, aside {
      width: 90%;
      margin: 0 auto 20px auto; /* Автоматические отступы */
    }
    h1.header-text {
      font-size: calc(10vw + 20px);
    }
  }